@{
    ViewBag.Title = "About Debatron";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <p>Debatron is the pinnacle of online discourse where ideas converge and conversations flourish! Debatron is not just a forum; it's a dynamic community where individuals from diverse backgrounds come together to discuss an array of topics. Engage in meaningful conversations, share your insights, and connect with like-minded individuals who are passionate about dialogue that transcends boundaries. Join us on Debatron, where your voice matters, perspectives are valued, and discussions empower us to broaden our horizons collectively. Embrace the spirit of intellectual exchange – sign up and embark on a journey of enriching conversations at Debatron!</p>
    <div>
        <p>The Debatron is like a big internet meeting place where people talk about different things. It's an online forum where you can share your ideas, ask questions, and have conversations with others. Imagine it as a virtual room where folks from all over come together to discuss all sorts of topics, from favorite movies to important issues. You can join in by typing your thoughts and reading what others have to say. It's a bit like a digital coffee shop where everyone can have a chat. People use the Debatron to learn new things, share their opinions, and connect with others who have similar interests. It's a friendly space where everyone gets a chance to speak and listen. If you like talking about things you care about, the Debatron is a cool place to be.</p>
    </div>
</main>