@{
    ViewBag.Title = "Contact Us";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <div>
        <p>
            Whether it's technical support or just saying hello, the Debatron team is eager to hear from you. Contact us anytime, and let's keep the conversation going!
        </p>
    </div>
    <div>
        <address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>
    </div>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@debatronmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@debatronmail.com</a>
    </address>
</main>