@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1> Welcome to DEBATRON</h1>
    <p1> Debatron is a dynamic online discussion forum that fosters engaging conversations across a wide spectrum of topics. With its user-friendly interface and intuitive design, Debatron provides a platform for users to share diverse perspectives and insights. The forum encourages respectful discourse and facilitates the exchange of ideas, making it an ideal space for intellectual discussions. Debatron's features, such as threaded discussions and upvoting mechanisms, contribute to a vibrant and interactive community. Whether users are passionate about technology, current events, or creative endeavors, Debatron offers a welcoming environment for individuals to connect, learn, and express their opinions.</p1>
    <form method="post">
            <button type="submit" formaction="Home/userLogin">Login</button>
    </form>

    <form method="post">
            <button type="submit" formaction="/Signup">Signup</button>
    </form>
 </div>

   
